<header>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center p-3">
            <h4>Store App</h4>
            <h6>
                {{'welcome' | translate }}
                -- {{userLogged}}
            </h6>
            <div>
                <button class="btn btn-primary" type="button" (click)="translate.use('ar')">
                    arabic
                </button>
                <button class=" btn btn-primary m-2" type="button" (click)="translate.use('en')">
                    en
                </button>
                <button class="btn btn-primary" type="button" (click)="logout()">
                    {{'log out' | translate }}
                </button>
            </div>

        </div>
    </div>
</header>


<div *ngIf="userLogged == 'Admin'" class="container contentWrapper">
    <div class="text-right">
        <button class="btn btn-primary" type="button" (click)="showAddForm()">
            {{'addNewProduct' | translate }}
        </button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">title</th>
                <th scope="col">category</th>
                <th scope="col">price</th>
                <th scope="col">image</th>
                <th scope="col">{{'edit' | translate }}</th>
                <th scope="col">{{'delete' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of allProducts  | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{product.title}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}}</td>
                <td><img class="small-image" [src]="product.image" /></td>
                <td>
                    <button class="btn btn-warning" type="button" (click)="openUpdateDialog(product)">
                        edit
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" type="button" (click)="delete(product)">
                        delete
                    </button>
                </td>
            </tr>

        </tbody>

    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>


</div>

<div *ngIf="showDeleteSuccess" class="modal d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Product Deleted.</p>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<div *ngIf="addMode" class="modal d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Product</h5>
                <button type="button" (click)="closeAddForm()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form *ngIf="!addedShootMode" class="" [formGroup]="addProductForm" (ngSubmit)="addProduct()">

                    <div class="form-group mb-3">
                        <input type="text" class="form-control" formControlName="title" placeholder="title">

                        <span class="text-danger mt-1 d-block"
                            *ngIf="!addProductForm.get('title').valid && addProductForm.get('title').touched">
                            enter title
                        </span>
                    </div>

                    <div class="form-group mb-3">
                        <input type="number" class="form-control" formControlName="price" placeholder="price">

                        <span class="text-danger mt-1 d-block"
                            *ngIf="!addProductForm.get('price').valid && addProductForm.get('price').touched">
                            enter price
                        </span>
                    </div>
                    <div class="form-group mb-3">
                        <textarea class="form-control" formControlName="description"
                            placeholder="description"></textarea>


                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" formControlName="image" placeholder="image Url">

                        <span class="text-danger mt-1 d-block"
                            *ngIf="!addProductForm.get('image').valid && addProductForm.get('image').touched">
                            enter image Url
                        </span>
                    </div>

                    <div class="form-group mb-3">
                        <input type="text" class="form-control" formControlName="category" placeholder="category">

                        <span class="text-danger mt-1 d-block"
                            *ngIf="!addProductForm.get('category').valid && addProductForm.get('category').touched">
                            enter category
                        </span>
                    </div>

                    <div class="clearfix text-center">
                        <button [disabled]="!addProductForm.valid" class="btn btn-success login-btn-last float-right"
                            type="submit">add</button>
                    </div>


                </form>
                <p class="text-center" *ngIf="addSuccess">product added successfully</p>
                <table *ngIf="addedShootMode" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">title</th>
                            <th scope="col">category</th>
                            <th scope="col">price</th>
                            <th scope="col">image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{addedShoot?.title}}</td>
                            <td>{{addedShoot?.category}}</td>
                            <td>{{addedShoot?.price}}</td>
                            <td> {{addedShoot?.image}}</td>

                        </tr>

                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeAddForm()" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="updateMode" class="modal d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">update Product</h5>
                <button type="button" (click)="closeUpdateDilog()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form *ngIf="!updateShootMode" class="" [formGroup]="updateProductForm" (ngSubmit)="updateProduct()">

                    <div class="form-group mb-3">
                        <input type="text" class="form-control" formControlName="title" placeholder="title">

                        <span class="text-danger mt-1 d-block"
                            *ngIf="!updateProductForm.get('title').valid && updateProductForm.get('title').touched">
                            enter title
                        </span>
                    </div>

                    <div class="form-group mb-3">
                        <input type="number" class="form-control" formControlName="price" placeholder="price">

                        <span class="text-danger mt-1 d-block"
                            *ngIf="!updateProductForm.get('price').valid && updateProductForm.get('price').touched">
                            enter price
                        </span>
                    </div>
                    <div class="form-group mb-3">
                        <textarea class="form-control" formControlName="description"
                            placeholder="description"></textarea>


                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" formControlName="image" placeholder="image Url">

                        <span class="text-danger mt-1 d-block"
                            *ngIf="!updateProductForm.get('image').valid && updateProductForm.get('image').touched">
                            enter image Url
                        </span>
                    </div>

                    <div class="form-group mb-3">
                        <input type="text" class="form-control" formControlName="category" placeholder="category">

                        <span class="text-danger mt-1 d-block"
                            *ngIf="!updateProductForm.get('category').valid && updateProductForm.get('category').touched">
                            enter category
                        </span>
                    </div>

                    <div class="clearfix text-center">
                        <button [disabled]="!updateProductForm.valid" class="btn btn-success login-btn-last float-right"
                            type="submit">save</button>
                    </div>


                </form>
                <p class="text-center" *ngIf="updateSuccess">product updated successfully</p>

                <table *ngIf="updateShootMode" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">title</th>
                            <th scope="col">category</th>
                            <th scope="col">price</th>
                            <th scope="col">image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{updatedShoot?.title}}</td>
                            <td>{{updatedShoot?.category}}</td>
                            <td>{{updatedShoot?.price}}</td>
                            <td> {{updatedShoot?.image}}</td>

                        </tr>

                    </tbody>

                </table>

            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeUpdateDilog()" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="userLogged == 'User'" class="container contentWrapper">
    <div class="d-flex justify-content center align-items-center mb-3">
        <label class="mr-10">filter by category</label>
        <select (change)="filterProducts()" class="form-select mw40" [(ngModel)]="selectedCategory">
            <option value="all">
                all Categoris
            </option>
            <option *ngFor="let Cat of allCategories" [value]="Cat">
                {{Cat}}
            </option>

        </select>
    </div>

    <div *ngFor="let category of filteredCategories">
        <h4 class="text-success">{{category}}</h4>
        <div class="row">
            <div class="col-12" *ngFor="let product of allProducts">
                <div *ngIf="product.category == category">
                    <div class="card mb-3 m-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img [src]="product.image" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{product.title}}</h5>
                                    <p class="card-text">{{product.category}}</p>
                                    <p class="card-text"><small class="text-muted">price -- {{product.price}}</small>
                                    </p>
                                    <button type="button" class="btn btn-success" (click)="showDetails(product)">show
                                        details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

    </div>



    <div *ngIf="detailsMode" class="modal d-block" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product Details</h5>
                    <button type="button" (click)="closeDetails()" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="card">
                        <img [src]="selectedProduct?.image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h1>{{selectedProduct?.title}}</h1>
                            <h2>{{selectedProduct?.category}}</h2>
                            <h3>{{selectedProduct?.price}}</h3>
                            <h4>{{selectedProduct?.rating?.rate}}</h4>
                            <p class="card-text">{{selectedProduct?.description}}</p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" (click)="closeDetails()" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showLoader" class="loader loaderMaster">
    <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
    </div>
</div>