/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
header{
    box-shadow: 0 3px 10px rgb(0 0 0 / 8%);
    margin-bottom: 20px;
}
.loginContainer{
    width: 500px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
    -o-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    margin: 50px auto;
}
.form-select.mw40{
    max-width: 40%;
}
.mr-10{margin-right: 10px;}
.login-title{
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    background-color: #57b846;
    padding: 30px 0;
}
.custom-control.form-control{
    font-size: 15px;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px;
}
.loginBtn{
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    color: #fff;
}
.padding-30{padding: 30px;}
/* loader style */
.cssload-container {
    width: 100%;
    height: 42px;
    text-align: center;
    min-height: 350px;
  }
  
  .cssload-speeding-wheel {
    width: 42px;
    height: 42px;
    margin: 0 auto;
    border: 3px solid #fff;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 1325ms infinite linear;
    -o-animation: cssload-spin 1325ms infinite linear;
    -ms-animation: cssload-spin 1325ms infinite linear;
    -webkit-animation: cssload-spin 1325ms infinite linear;
    -moz-animation: cssload-spin 1325ms infinite linear;
  }
  
  .radio-item-c {
    box-shadow: 0px 0px 10px #247d8f29;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    margin-left: 15px;
    color: #777777;
    position: relative;
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 5px 0;
  }
  
  .radio-item-c label {
    font-size: 13px;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    padding: 18px 0;
  }
  
  
  @keyframes cssload-spin {
    100% {
      transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-o-keyframes cssload-spin {
    100% {
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-ms-keyframes cssload-spin {
    100% {
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes cssload-spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-moz-keyframes cssload-spin {
    100% {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loader {
    position: absolute;
    top: 33%;
    right: 0;
    left: 0;
  }
  .loader.loaderMaster {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #0000002b;
    z-index: 9999999999999999999;
  }
  .mat-mdc-progress-spinner{margin: auto;}
  .loader.loaderMaster .cssload-container {
    position: relative;
    top: 50%;
  }
  .small-image{width: 50px;}
  .modal-footer{
    text-align: center;
    display: block;
  }
  @media(min-width:768px){
    .contentWrapper{
        margin: 30px auto 40px;
      }
  }

  @media(max-width:480px){
    .contentWrapper{
        max-width: 100%;
        overflow: auto;
      }
  }





$mainColor : #333;
.toolbar{
    background-color: $mainColor !important;
    img{width: 40px;}
    span{
        color: #000;
        &:hover{color: green;}
    }
}
@for $iterator from 1 through 100 {
    .width-#{$iterator}{
        width: #{$iterator}px;
    }
}


$cursors:pointer,auto,move;
@each $i in $cursors {
    .cusror-#{$i} {
        cursor : $i;
    }
}

.equal-heights {
    display: flex;
    flex-wrap: wrap;
  }
  
  .message {
    @extend .equal-heights;
  }
